<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!--web.xml主要用来配置web应用使用到的Servlet-->
    <!--配置HelloServlet-->
    <!--servlet-name: 给Servlet取名 该名字唯一-->
    <!--servlet-class: Servlet的类的全路径: Tomcat在反射生成该Servlet需要使用-->
    <!--url-pattern:这个就是该Servlet访问的url配置的路径-->
    <!--我们应该这样访问servlet http://localhost:8080/helloServlet如果你的tomcat配置只有/的话那么是这个，如果/后面有内容加上/后面的-->
    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>HelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/helloServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HiServlet</servlet-name>
        <servlet-class>HiServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HiServlet</servlet-name>
        <url-pattern>/hiServlet</url-pattern>
    </servlet-mapping>
    <!--配置DBServlet-->
    <servlet>
        <servlet-name>DBServlet</servlet-name>
        <servlet-class>com.sparrow.servlet.DBServlet</servlet-class>
        <init-param>
            <param-name>username</param-name>
            <param-value>wzy</param-value>
        </init-param>
        <init-param>
            <param-name>pwd</param-name>
            <param-value>123456</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>DBServlet</servlet-name>
        <url-pattern>/db</url-pattern>
    </servlet-mapping>
    <!--配置servletcontext-->
    <servlet>
        <servlet-name>ServletContext</servlet-name>
        <servlet-class>com.sparrow.servlet.servletcontext.ServletContext_</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletContext</servlet-name>
        <url-pattern>/servletContext_</url-pattern>
    </servlet-mapping>
    <!--配置整个网站的信息-->
    <context-param>
        <param-name>website</param-name>
        <param-value>http://www.wzyhddy.cloud</param-value>
    </context-param>
    <context-param>
        <param-name>company</param-name>
        <param-value>诉衷情的麻雀</param-value>
    </context-param>
    <!--配置OrderServlet-->
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>com.sparrow.servlet.servletcontext.OrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/orderServlet </url-pattern>
    </servlet-mapping>
    <!--配置PayServlet-->
    <servlet>
        <servlet-name>PayServlet</servlet-name>
        <servlet-class>com.sparrow.servlet.servletcontext.PayServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PayServlet</servlet-name>
        <url-pattern>/payServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HttpServletRequestMethods</servlet-name>
        <servlet-class>com.sparrow.servlet.request.HttpServletRequestMethods</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HttpServletRequestMethods</servlet-name>
        <url-pattern>/requestMethods</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CheckServlet</servlet-name>
        <servlet-class>com.sparrow.servlet.request.CheckServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckServlet</servlet-name>
        <url-pattern>/checkServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManageServlet</servlet-name>
        <servlet-class>com.sparrow.servlet.request.ManageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageServlet</servlet-name>
        <url-pattern>/manageServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.sparrow.servlet.homework.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ComputerServlet</servlet-name>
        <servlet-class>com.sparrow.servlet.homework.ComputerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ComputerServlet</servlet-name>
        <url-pattern>/computerServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DownServlet</servlet-name>
        <servlet-class>com.sparrow.servlet.response.DownServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DownServlet</servlet-name>
        <url-pattern>/downServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DownServletNew</servlet-name>
        <servlet-class>com.sparrow.servlet.response.DownServletNew</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DownServletNew</servlet-name>
        <url-pattern>/downServletNew</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MyPayServlet</servlet-name>
        <servlet-class>com.sparrow.servlet.homework.MyPayServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyPayServlet</servlet-name>
        <url-pattern>/myPayServlet</url-pattern>
    </servlet-mapping>
</web-app>